USE [AMS]
GO
/****** Object:  Table [dbo].[tbl_empinfo]    Script Date: 10/20/2019 4:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_empinfo](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](max) NULL,
	[fname] [nvarchar](max) NULL,
	[mname] [nvarchar](max) NULL,
	[religion] [nvarchar](50) NULL,
	[bgroup] [nvarchar](50) NULL,
	[gender] [nvarchar](50) NULL,
	[nid] [nvarchar](50) NULL,
	[dob] [nvarchar](max) NULL,
	[qual] [nvarchar](max) NULL,
	[post] [nvarchar](max) NULL,
	[phn] [nvarchar](50) NULL,
	[adds] [varchar](max) NULL,
	[img] [image] NULL,
 CONSTRAINT [PK_tbl_empinfo_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_post]    Script Date: 10/20/2019 4:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_qual]    Script Date: 10/20/2019 4:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_qual](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_qual] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 10/20/2019 4:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_user](
	[id] [varchar](50) NOT NULL,
	[userName] [varchar](max) NOT NULL,
	[passwd] [varchar](max) NULL,
 CONSTRAINT [PK_tbl_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_empinfo] ([id], [name], [fname], [mname], [religion], [bgroup], [gender], [nid], [dob], [qual], [post], [phn], [adds], [img]) VALUES (N'EMPID00002', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', NULL)
INSERT [dbo].[tbl_empinfo] ([id], [name], [fname], [mname], [religion], [bgroup], [gender], [nid], [dob], [qual], [post], [phn], [adds], [img]) VALUES (N'EMPID00003', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', NULL)
INSERT [dbo].[tbl_post] ([id], [name]) VALUES (N'ID0001', N'Manager')
INSERT [dbo].[tbl_post] ([id], [name]) VALUES (N'ID0002', N'Superviser')
INSERT [dbo].[tbl_post] ([id], [name]) VALUES (N'ID0003', N'Sub manager')
INSERT [dbo].[tbl_qual] ([id], [name]) VALUES (N'ID0001', N'HSC')
INSERT [dbo].[tbl_qual] ([id], [name]) VALUES (N'ID0002', N'SSC')
INSERT [dbo].[tbl_qual] ([id], [name]) VALUES (N'ID0003', N'DOPLOMA')
INSERT [dbo].[tbl_user] ([id], [userName], [passwd]) VALUES (N'UID0009', N'saker hossin', N'1234')
INSERT [dbo].[tbl_user] ([id], [userName], [passwd]) VALUES (N'UID0011', N'Jony', N'12345')
INSERT [dbo].[tbl_user] ([id], [userName], [passwd]) VALUES (N'UID0013', N'salah uddin ', N'1234567')
